<!-- Content -->
<div id="content">
    <div class="row show-hide-message">
      <div [ngClass]="messageClass">
        {{ message }}
      </div>
    </div>
    <!-- New Post Button -->
    <div class="inner">
        <div class="title">
            <h2>List product</h2>
          </div>
      <form [formGroup]="form" *ngIf="newProduct" (submit)="addproductSubmit()">
      <div class="title">
        <h2>Create product</h2>
      </div>
      <div class="col-md-3">
      
            </div>
      <div class="col-md-9">
      <div class="body">
        
        <div class="components">
            <h1>Name product</h1>
          <div class="form-group">
              <div [ngClass]="{'has-error':(form.controls.nameproduct.errors && form.controls.nameproduct.dirty),'has-success':!form.controls.nameproduct.errors}">
            <input type="text" id="nameproduct" name="nameproduct" formControlName="nameproduct" class="form-control" placeholder="Enter name product">
            <div id="message">
                <li class="error" *ngIf="form.controls.nameproduct.errors?.required && form.controls.nameproduct.dirty">This field is require</li>
                <li class="warring" *ngIf="(form.controls.nameproduct.errors?.minlength||form.controls.nameproduct.errors?.maxlength) && form.controls.nameproduct.dirty">
                  Minimum characters:3, Maximum characters:30</li>
                <li class="notification" *ngIf="form.controls.nameproduct.errors?.validatenameproduct && form.controls.nameproduct.dirty">
                  This must be a valid full name</li>
                <li class="helpblock" *ngIf="productMessage">{{ productMessage }}</li>
            </div>
          </div>
        </div>
        </div>
  
        <div class="components">
            <h1>Description</h1>
            <div class="form-group">
                <div [ngClass]="{'has-error':(form.controls.description.errors && form.controls.description.dirty),'has-success':!form.controls.description.errors}">
              <input type="text" id="description" name="description" formControlName="description" class="form-control" placeholder="Enter description product">
              <div id="message">
                  <li class="error" *ngIf="form.controls.description.errors?.required && form.controls.description.dirty">This field is require</li>
                  <li class="warring" *ngIf="(form.controls.description.errors?.minlength||form.controls.description.errors?.maxlength) && form.controls.description.dirty">
                    Minimum characters:3, Maximum characters:50</li>
                  <li class="notification" *ngIf="form.controls.description.errors?.validatedescriptionproduct && form.controls.description.dirty">
                    This must be a description</li>
                  <li class="helpblock" *ngIf="productMessage">{{ productMessage }}</li>
              </div>
            </div>
          </div>
        </div>
        <div class="components">
            <h1>Price</h1>
            <div class="form-group">
                <div [ngClass]="{'has-error':(form.controls.price.errors && form.controls.price.dirty),'has-success':!form.controls.price.errors}">
              <input type="text" id="price" name="price" formControlName="price" class="form-control" placeholder="Enter price product">
              <div id="message">
                  <li class="error" *ngIf="form.controls.price.errors?.required && form.controls.price.dirty">This field is require</li>
                  <li class="warring" *ngIf="(form.controls.price.errors?.minlength||form.controls.price.errors?.maxlength) && form.controls.price.dirty">
                    Minimum characters:2, Maximum characters:10</li>
                  <li class="notification" *ngIf="form.controls.price.errors?.validatepriceproduct && form.controls.price.dirty">
                    This must be a number</li>
                  <li class="helpblock" *ngIf="productMessage">{{ productMessage }}</li>
              </div>
            </div>
          </div>
        </div>
        
        <div class="components">
          <h1>Image</h1>
        <div class="form-group">
          
        <div>
            Path file image: <input id="image" name="image" formControlName="image" type="text"/>
        </div>
        </div>
      </div>
      </div>
     
      <div class="rightbody">
  <div class="components">
        <h1>Catalog</h1>
      <div class="form-group">
        <select id="catalog" class="form-control" name="catalog" formControlName="catalog">
            <option>running</option>
            <option>sneaker</option>
            <option>fashion</option>
            <option>old</option>
          </select>
      </div>
    </div>
        
        
  <div class="components">
      <h1>Color</h1>
      <select id="color" class="form-control" name="color" formControlName="color">
          <option>black</option>
          <option>green</option>
          <option>pink</option>
          <option>wthite</option>
          <option>yellow</option>
        </select>
        </div>
  <div class="components">
      <h1>Size</h1>
      <select id="size" class="size" class="form-control" name="size" formControlName="size">
          <option>30</option>
          <option>31</option>
          <option>32</option>
          <option>33</option>
          <option>34</option>
          <option>35</option>
        </select>
        </div>
        <input type="submit" class="btn btn-primary" name="addproduct-submit" value="submit">
        <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
      </div>
      </div>   
      </form>
  <div class="inner">
      <div class="col-md-3">      
      </div>
      <div class="col-md-9"> 
      <div class="bodylist" *ngIf="!newProduct">
          <button type="button" name="button" class="btn btn-warning" *ngIf="!newProduct" (click)="newProductForm()">New Product</button>
          <br/>
          <br/>
        <!-- Panel Outer Layer -->
        <div *ngFor="let product of productposts">
      
          <!-- Panel Title -->
          <div class="components">
              <td>
              <strong>NameProduct: </strong>{{ product.nameproduct }}
              <br/>
              <strong>Description: </strong>{{ product.description }}
              <br/>
              <strong>Price </strong>{{ product.price }}
             <br/>
              <strong>Catalog: </strong>{{ product.catalog }}
             <br/>
              <strong>Color: </strong>{{ product.color }}
              <br/>
              <strong>Size: </strong>{{ product.size }}
             <br/>
          </td>
         <td>
             <strong>Image: </strong>
             <div class="product-front">
             <img src="https://drive.google.com/uc?id={{ product.image }}"
             alt="" />
            </div>   
            </td>       
             <a [routerLink]="['/edit-product/', product._id]" ><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
             <button (click)="onDeleteProductsubmit(product._id)" type="button" name="button" class="btn btn-sm btn-danger">Delete</button> 
            <br/>
            </div>
          </div>
        <!-- Panel Outer Layer -->
      </div>
      </div>
  </div>
    </div>
  </div>
  