<div class="menu-container">
	<div class="logo">
		<a href="#">
			<img src="assets/images/logo.png">
		</a>
	</div>
	<div class="menuright">
		<li>
			<a>
				<div class="menu-mobile">
					<mat-icon>more_vert</mat-icon>
				</div>
			</a>
		</li>

		<li>
			<a>
				<mat-icon>person</mat-icon>
			</a>
			<ul>
				<li>
					<a routerLink='/login'>
						<button type="button" class="form-control">Login</button>
					</a>
				</li>

				<li>
					<a routerLink='/acount'>
						<mat-icon>person</mat-icon>
						<p>My Profile</p>
					</a>
				</li>

				<li>
					<a routerLink='/#'>
						<mat-icon>shopping_basket</mat-icon>
						<p>My Order</p>
					</a>
				</li>
				<li>
					<a routerLink='/#'>
						<mat-icon>card_giftcard</mat-icon>
						<p>Gilt Card</p>
					</a>
				</li>
				<li>
					<a routerLink='/register'>
						<mat-icon>perm_device_information</mat-icon>
						<p>Register</p>
					</a>
				</li>
				<li>
					<a routerLink='/adhome'>
						<mat-icon>supervisor_account</mat-icon>
						<p>Admin</p>
					</a>
				</li>
			</ul>
		</li>
		<li>
			<a routerLink='/'>
				<mat-icon>help_outline</mat-icon>
			</a>
		</li>
		<div class="cart">
			<a (on-mouseover)="getCart()">
				<mat-icon>shopping_cart</mat-icon>
			</a>
			<ul>
				<div class="title">
					Shopping bag
					<div class="buttonaction">
						<a routerLink='/' (click)="removeAllCart()">
							clear all item
						</a>
					</div>
				</div>
				<div class="content" id="style-scrollbar">
					<li *ngFor="let cart of cartpost">
						<a routerLink='/'>
							<img src='https://drive.google.com/uc?id={{cart.item.image}}' />
							<div class="buttonaction">
								<a routerLink='/' (click)="removeItemCart(cart.item._id)">
									<mat-icon>delete</mat-icon>
								</a>
							</div>
							<div class="titleproduct">
								<div class="nameproduct">
									{{cart.item.nameproduct}}
								</div>
								<div class="description">
									{{cart.item.description}}
								</div>
								<div class="price">
									{{cart.item.price}}
								</div>
								<div class="quantity">
									{{cart.qty}}
								</div>
							</div>
						</a>
					</li>

				</div>
				<div class="total">
					Subtotal:{{total}}
				</div>
				<div class="checkout">
					<a type="button" class="btn"> checkout</a>
				</div>
			</ul>
		</div>
		<li>
			<a routerLink='/'>
				<mat-icon>notifications</mat-icon>
			</a>
		</li>
		<div class="search">
			<a routerLink='/search'>
				<mat-icon>search</mat-icon>
			</a>
			<ul>
				<div class="col-lg-12">
					<form [formGroup]="formsearch">
						<div class="input-group">
							<input type="text" class="form-control" id="searchname" name="searchname" formControlName="searchname" (keyup)="SearchProduct()"
							 (keyup)="SearchCatalog()" placeholder="Search for..." aria-label="Search for...">
							<span class="input-group-btn">
								<a class="btn btn-secondary" type="submit">
									<mat-icon>search</mat-icon>
								</a>
							</span>
						</div>
						<small id="searchHelp" class="form-text text-muted">
							<div *ngIf="searchmess">
								{{searchmess}}
							</div>
							Enter keyword name catalog or name product
						</small>
					</form>
				</div>
				<div class="catalog" id="style-scrollbar">
					<div class="title">Catalogs</div>
					<div *ngFor="let catalog of catalogpost">
						<a routerLink='/'>
							{{catalog.catalogName}}
						</a>
					</div>
				</div>
				<div class="product" id="style-scrollbar">
					<div class="title">Products</div>
					<div *ngFor="let product of productpost">
						<a routerLink='/'>
							<img src='https://drive.google.com/uc?id={{product.image}}' alt="" />
							<div class="nameproduct">
								{{product.nameproduct}}
							</div>
						</a>
					</div>
				</div>
			</ul>
		</div>
	</div>
	<div class="menu">
		<ul>
			<li *ngFor="let menu of menupost">
				<a href="#" (mouseenter)="GetListBranch(menu._id)">{{menu.menuname}}</a>
				<ul>
					<li *ngFor="let branch of branchpost">
						<a href="#" (mouseenter)="GetListCatalog(branch._id)">{{branch.branchName}}</a>
						<ul>
							<li *ngFor="let catalog of catalogposts">
								<a href="#">{{catalog.catalogName}}</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a>NEW</a>
				<ul>
					<li>
						<a href="#">NEW ARRICALS</a>
						<ul>
							<li>
								<a href="#">Lidership</a>
							</li>
							<li>
								<a href="#">History</a>
							</li>
							<li>
								<a href="#">Locations</a>
							</li>
							<li>
								<a href="#">Careers</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>