<div class="leftbody">
    <app-sidebar></app-sidebar>
</div>
<div class="rightcontent" ng-app="">
    <div class="init"></div>
    <div class="title">
        search results for: {{value}}
    </div>
    <div class="numberresult">
        {{searchmess}}
    </div>
    <form [formGroup]="formsearch">
    <div class="col-lg-12">
    <div class="input-group">
        <input type="text" class="form-control" id="searchname" name="searchname" formControlName="searchname" #box (keyup.enter)="onEnter(box.value)" (keyup)="SearchProduct()" placeholder="Search for..." aria-label="Search for...">
        <span class="input-group-btn">
            <a class="btn searchbtn" type="button">
                <mat-icon>search</mat-icon>
            </a>
        </span>
    </div>
</div>
</form>
    <div class="pagepagin">
    </div>
        <div class="listproduct">
            <a routerLink='/'*ngFor="let product of productpost">
                <img src='https://drive.google.com/uc?id={{product.image}}'/>	
                <div class="nameproduct">
                    {{product.nameproduct}}
                </div>
                <div class="price">
                   ${{product.price}}
                </div>
                <div class="showaction">
                <div class="description">
                size:{{product.price}}
                </div>
                <button (click)="AddToCart(product._id)" class="btn">Buy</button>
            </div>
            </a>
        </div>
</div>