<!-- Sidebar -->
<div id="sidebar">
    
            <!-- Logo -->
              <h1 id="adlogo"><a routerLink='/adhome'>ADMINISTRATOR</a></h1>
            <!-- Nav -->
              <nav id="nav">
                <ul>
                  <li><a routerLink='/adhome'><mat-icon>dashboard</mat-icon>Dashboard</a></li>
                  <li><a routerLink='/menus'><mat-icon>event</mat-icon>Menus</a></li>
                  <li><a routerLink='/products'><mat-icon>queue</mat-icon>Products</a></li>
                  <li><a routerLink='/promotions'><mat-icon>group</mat-icon>Promotions</a></li>
                  <li><a href="#"><mat-icon>store</mat-icon>Sales</a></li>
                  <li><a href="#"><mat-icon>group</mat-icon>Acounts</a></li>
                  <li><a href="#"><mat-icon>settings</mat-icon>Settings</a></li>
                  <li><a href="#"><mat-icon>assignment</mat-icon>Reports</a></li> 
                </ul>
              </nav>
    
            <!-- Search -->
              <section class="box search">
                <form method="post" action="#">
                  <input type="text" class="text"   class="form-control" name="search" placeholder="Search" />
                </form>
              </section>
            <!-- Copyright -->
              <ul id="copyright">
                <li>&copy; Untitled.</li><li>Design: <a href="#">TTA</a></li>
              </ul>
    
          </div>