<!-- Footer -->
<footer class="footer-distributed">
    <div id="footer-master-content">
      <ul class="nav-footer-master">
        <li>
          <a href="#" target="social" id="footer-facebook" class="footer-social"></a>
          <a href="#" target="social" id="footer-twitter" class="footer-social"></a>
          <a href="#" target="social" id="footer-instagram" class="footer-social"></a>
        </li>
        <li id="footer-tel" class="footer-contact">1-866-339-7463</li>
        <li id="footer-email" class="footer-contact"><a href="#">anb@gmail.com</a></li>
        <li id="footer-chat" class="footer-contact">
          <a href="#">Live Chat</a>
        </li>
      </ul>
  
      <ul class="nav-footer-master">
        <li class="footer-master-title">ABOUT US</li>
        <li>
          <a href="#">Why Sneakerhead</a>
        </li>
        <li>
          <a href="#" target="_blank" rel="nofollow">Reviews</a>
        </li>
        <li>
          <a href="#">Privacy Policy</a>
        </li>
        <li>
          <a href="#">Terms of Use</a>
        </li>
      </ul>
      <ul class="nav-footer-master">
        <li class="footer-master-title">Customer Care</li>
        <li>
          <a href="#">Contact Us</a>
        </li>
        <li>
          <a href="#">Shipping</a>
        </li>
        <li>
          <a href="#">Returns/Exchange</a>
        </li>
        <li>
          <a href="#">International Orders</a>
        </li>
      </ul>
      <ul class="nav-footer-master">
        <li class="footer-master-title">Sneaker Stuff</li>
        <li>
          <a href="#">Blog</a>
        </li>
        <li>
          <a href="#">Gift Card</a>
        </li>
        <li>
          <a href="#">Promotions</a>
        </li>
        <li>
          <a href="#">Sneakerfolio</a>
        </li>
      </ul>
      <ul class="nav-footer-master">
        <li class="footer-master-title">Newsletter Sign Up</li>
        <li>Get info on sneakers, promos &amp; more.</li>
        <li>
          <a href="#">
            <div class="footer-membership home"></div>
          </a>
        </li>
      </ul>
    </div>
    <div id="footer-trust-block">
      <img class="accepted-cards" src="../assets/images/cc-accepted.png" alt="Accepted Payment Methods" />
      <a id="bbblink" href="#">
          <img src="../assets/images/bbb-logo.png"  alt="Better Business Bureau" />
        </a>
    </div>
    <p id="footer-master-copyright" class="all-width">
      <a href="#"></a>
      <small>Copyright &copy; 2001 - 2017 Sneakerhead.com. All Rights Reserved.</small>
    </p>
  
  </footer>