<!-- Sidebar -->
<div class="sidebarclient">
  <div class="init"></div>
  <div class="components" id="style-scrollbar">
    <div class="title">Branch</div>
    <ul *ngFor="let branch of branchpost">
      <input type="checkbox" value="" (click)="FilterCatalog(branch._id)">
      <p>{{branch.branchName}} (120)</p>
    </ul>
  </div>
  <div class="components" id="style-scrollbar">
    <div class="title">Catalog</div>
    <ul *ngFor="let catalog of catalogpost">
      <input type="checkbox" value="" (click)="FilterProduct(catalog._id)">
      <p>{{catalog.catalogName}} (120)</p>
    </ul>
  </div>
  <div class="components" id="style-scrollbar">
    <div class="title">Size</div>
    <div class="size">
        <button type="button" class="btn">38</button>
        <button type="button" class="btn">39</button>
        <button type="button" class="btn">40</button>
        <button type="button" class="btn">41</button>
        <button type="button" class="btn">42</button>
        <button type="button" class="btn">43</button>
    </div>
  </div>
  <div class="components" id="style-scrollbar">
    <div class="title">Color</div>
    <div class="size">
      <button type="button" class="btn" style="background:red"></button>
      <button type="button" class="btn" style="background:blue"></button>
      <button type="button" class="btn" style="background:BlueViolet "></button>
      <button type="button" class="btn" style="background:Chartreuse "></button>
      <button type="button" class="btn" style="background:DarkGreen "></button>
      <button type="button" class="btn" style="background:DarkOrange "></button>
      <button type="button" class="btn" style="background:DodgerBlue "></button>
    </div>
  </div>
  <div class="components" id="style-scrollbar">
    <div class="title">Price</div>
    <ul>
      <input type="checkbox" value="">
      <p>under $50 (20)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>$50 - $100 (20)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>$100 - $200 (20)</p>
    </ul>
    <ul>
      <input type="checkbox" value="">
      <p>$200 and above (20)</p>
    </ul>
  </div>
</div>