<!-- Content -->
<div id="content">
    <div class="row show-hide-message">
      <div [ngClass]="messageClass">
        {{ message }}
      </div>
    </div> 
    <div class="inner">
      <form *ngIf="!loading" (submit)="updateproductSubmit()">
      <div class="title">
        <h2>Update product</h2>
      </div>
      <div class="col-md-3">
      
            </div>
      <div class="col-md-9">
      <div class="body">
        <div class="components">
            <h1>Name product</h1>
          <div class="form-group">            
            <input type="text" [(ngModel)]="product.nameproduct" id="nameproduct" name="nameproduct" class="form-control" >         
        </div>
        </div>
  
        <div class="components">
            <h1>Description</h1>
          <div class="form-group">
            <textarea class="form-control" [(ngModel)]="product.description" name="description" id="description" rows="3" ></textarea>
          </div>
        </div>
        <div class="components">
            <h1>Price</h1>
            <div class="form-group">            
                <input type="text" [(ngModel)]="product.price" id="price" name="price" class="form-control" >         
            </div>
        </div>
        
        <div class="components">
          <h1>Image</h1>
        <div class="form-group">
          
        <div>
            Path file image: <input id="image" name="image" type="text"/>
        </div>
        </div>
      </div>
      </div>
      <div class="rightbody">
  <div class="components">
        <h1>Catalog</h1>
      <div class="form-group">
        <!-- //<input type="text" id ="catalog" name="catalog" class="form-control" formControlName="catalog" placeholder="Enter catalog"> -->
        <select id="catalog" [(ngModel)]="product.catalog" class="form-control" name="catalog" >
            <option>running</option>
            <option>sneaker</option>
            <option>fashion</option>
            <option>old</option>
          </select>
      </div>
    </div>
        
        
  <div class="components">
      <h1>Color</h1>
          <div class="form-group">            
              <select id="color" class="form-control" name="color" [(ngModel)]="product.color">
                  <option>black</option>
                  <option>green</option>
                  <option>pink</option>
                  <option>wthite</option>
                  <option>yellow</option>
                </select>
           
        </div>
        </div>
  <div class="components">
      <h1>Size</h1>
      <select id="size" class="size" class="form-control" name="size" [(ngModel)]="product.size" >
          <option>30</option>
          <option>31</option>
          <option>32</option>
          <option>33</option>
          <option>34</option>
          <option>35</option>
        </select>
        </div>
        <input type="submit" class="btn btn-primary" name="updateproduct-submit" value="Update">
        <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
      </div>
      </div>   
      </form>

    </div>
  </div>