<div class="titleheader">
    <p> FREE SHIPPING & FREE RETURNS</p>
  </div>
  <!--slider-->
  <div class="slider">
    <ul id="slider1">
      <li>
        <a href="#slide1">
          <img src="../assets/images/sidebar/baner1.jpg" alt="This is caption 1 <a href='#link'>Even with links!</a>">
        </a>
      </li>
      <li>
        <a href="#slide2">
          <img src="../assets/images/sidebar/baner2.jpg" alt="This is caption 2">
        </a>
      </li>
      <li>
        <a href="#slide2">
          <img src="../assets/images/sidebar/baner3.jpg" alt="This is caption 3">
        </a>
      </li>
      <li>
        <a href="#slide2">
          <img src="../assets/images/sidebar/baner4.jpg" alt="This is caption 4">
        </a>
      </li>
    </ul>
  </div>


<div class="bodycontent">  
    <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text">
            <section id="index-new-arrival" class="menubodytop">
  
              <header>a
                <h2>NEW ARRIVALS</h2>
  
                <div class="nav-section-dark home">
                  <ul>
                    <li><a href="#" id="home-selector-mens" class="dropdown-title" data-id="mens" data-category-id="6">MEN'S</a></li>
                    <li><a href="#" id="home-selector-womens" class="dropdown-title" data-id="womens" data-category-id="9">WOMEN'S</a></li>
                    <li><a href="#" id="home-selector-kids" class="dropdown-title" data-id="kids" data-category-id="542">KIDS'</a></li>
                    <li><a href="#" id="home-selector-apparel" class="dropdown-title" data-id="apparel" data-category-id="123">APPAREL</a></li>
                    <li><a href="#" id="home-selector-gear" class="dropdown-title" data-id="gear" data-category-id="75">GEAR</a></li>
                  </ul>
                </div>
              </header>
            </section>
          </div>
        </div>
      </div>

      <div class="container">
          <div class="rightcontent" ng-app="">
            <div class="listproduct">
                <a routerLink='/'*ngFor="let product of productpost">
                    <img src='https://drive.google.com/uc?id={{product.image}}'/>	
                    <div class="nameproduct">
                        {{product.nameproduct}}
                    </div>
                    <div class="price">
                       ${{product.price}}
                    </div>
                    <div class="showaction">
                    <div class="description">
                    size:{{product.price}}
                    </div>
                    <button (click)="AddToCart(product._id)" class="btn">Buy</button>
                </div>
                </a>
          </div>
</div>
    </div>
</div>


<section class="social">
    <div>
      <h1>SOCIAL</h1>
    </div>
    <div>
      <a href="#"><img src="../assets/images/social/blog.jpg"></a>
      <a href="#"><img src="../assets/images/social/fb.jpg"></a>
      <a href="#"><img src="../assets/images/social/ig.jpg"></a>
      <a href="#"><img src="../assets/images/social/twiter.jpg"></a>
    </div>
  </section>